@model SMA.MVC.ViewModels.NotificationVM

@{
    ViewBag.Title = "Delete";
}

<center><h2>Delete</h2></center>

<h3>Are you sure you want to delete this notification?</h3>

<div>
    <h4>Notifications</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NotificationId)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.SenderUserId)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a href="/Notification/Index">Back</a>
        </div>
    }
</div>