
src/.DS_Store
.DS_Store
src/.idea/.idea.SocialMediaApplication/.idea/workspace.xml
src/.vs/SocialMediaApplication/xs/project-cache/SMA.Angular-Debug.json
src/.vs/SocialMediaApplication/xs/project-cache/SMA.ApplicationServices-Debug.json
src/.vs/SocialMediaApplication/xs/project-cache/SMA.Data-Debug.json
src/.vs/SocialMediaApplication/xs/project-cache/SMA.Flutter-Debug.json
src/.vs/SocialMediaApplication/xs/project-cache/SMA.MVC-Debug.json
src/.vs/SocialMediaApplication/xs/project-cache/SMA.React-Debug.json
src/.vs/SocialMediaApplication/xs/project-cache/SMA.ReactNative-Debug.json
src/.vs/SocialMediaApplication/xs/project-cache/SMA.WebApiServices-Debug.json
src/.vs/SocialMediaApplication/xs/UserPrefs.xml
src/Client/Web/SMA.React/ClientApp/
src/Core/SMA.ApplicationServices/.DS_Store
src/Core/SMA.ApplicationServices/obj/Debug/net6.0/SMA.ApplicationServices.assets.cache
src/Core/SMA.ApplicationServices/obj/Debug/net6.0/SMA.ApplicationServices.csprojAssemblyReference.cache
src/Core/SMA.ApplicationServices/obj/project.assets.json
src/Core/SMA.ApplicationServices/obj/project.nuget.cache
src/Core/SMA.ApplicationServices/obj/SMA.ApplicationServices.csproj.nuget.dgspec.json
src/Core/SMA.ApplicationServices/obj/SMA.ApplicationServices.csproj.nuget.g.props
src/Core/SMA.ApplicationServices/obj/SMA.ApplicationServices.csproj.nuget.g.targets
src/SocialMediaApplication.sln
src/.idea/.idea.SocialMediaApplication/.idea/workspace.xml
src/.vs/SocialMediaApplication/xs/project-cache/SMA.Angular-Debug.json
src/.vs/SocialMediaApplication/xs/project-cache/SMA.ApplicationServices-Debug.json
src/.vs/SocialMediaApplication/xs/project-cache/SMA.Data-Debug.json
src/.vs/SocialMediaApplication/xs/project-cache/SMA.MVC-Debug.json
src/.vs/SocialMediaApplication/xs/project-cache/SMA.React-Debug.json
src/.vs/SocialMediaApplication/xs/project-cache/SMA.WebApiServices-Debug.json
src/.vs/SocialMediaApplication/xs/UserPrefs.xml
src/Core/SMA.ApplicationServices/.DS_Store
src/SocialMediaApplication.sln
src/.vs/SocialMediaApplication/xs/project-cache/SMA.Angular-Debug.json
src/Core/SMA.ApplicationServices/.DS_Store
src/.vs/SocialMediaApplication/xs/UserPrefs.xml
src/.vs/SocialMediaApplication/xs/project-cache/SMA.WebApiServices-Debug.json
src/.vs/SocialMediaApplication/xs/project-cache/SMA.React-Debug.json
src/.vs/SocialMediaApplication/xs/project-cache/SMA.MVC-Debug.json
src/.vs/SocialMediaApplication/xs/project-cache/SMA.Data-Debug.json
src/.vs/SocialMediaApplication/xs/project-cache/SMA.ApplicationServices-Debug.json
src/.vs/SocialMediaApplication/xs/project-cache/SMA.Angular-Debug.json
src/.idea/.idea.SocialMediaApplication/.idea/workspace.xml
