
src/Client/Web/SMA.React/.vs/SMA.React/xs/UserPrefs.xml
src/Client/Web/SMA.React/.vs/SMA.React/xs/project-cache/SMA.React-Debug.json
src/Client/Web/SMA.React/.idea/.idea.SMA.React.dir/.idea/.DS_Store
src/Client/Web/SMA.React/.idea/.idea.SMA.React.dir/.DS_Store
src/Client/Web/SMA.React/.DS_Store
src/Client/Web/SMA.Angular/.DS_Store
src/Client/Web/.DS_Store
src/Client/Mobile/SMA.ReactNative/ClientApp/.DS_Store
src/Client/Mobile/SMA.ReactNative/.DS_Store
src/Client/Mobile/SMA.Flutter/ClientApp/windows/.DS_Store
src/Client/Mobile/SMA.Flutter/ClientApp/ios/.DS_Store
src/Client/Mobile/SMA.Flutter/ClientApp/android/.DS_Store
src/Client/Mobile/SMA.Flutter/ClientApp/.DS_Store
src/Client/Mobile/SMA.Flutter/.DS_Store
src/Client/Mobile/.DS_Store
src/Client/.DS_Store
src/.vs/.DS_Store
src/.DS_Store
.DS_Store
src/Core/.DS_Store
src/Core/SMA.ApplicationServices/obj/arm64/Debug/net6.0/SMA.ApplicationServices.assets.cache
src/Core/SMA.ApplicationServices/obj/Debug/net6.0/SMA.ApplicationServices.assets.cache
src/Core/SMA.ApplicationServices/obj/Debug/net6.0/SMA.ApplicationServices.csprojAssemblyReference.cache
src/Core/SMA.ApplicationServices/obj/project.assets.json
src/Core/SMA.ApplicationServices/obj/project.nuget.cache
src/Core/SMA.ApplicationServices/obj/SMA.ApplicationServices.csproj.nuget.dgspec.json
src/Core/SMA.ApplicationServices/obj/SMA.ApplicationServices.csproj.nuget.g.props
src/Core/SMA.ApplicationServices/obj/SMA.ApplicationServices.csproj.nuget.g.targets
src/Presentation/SMA.WebApiServices/.DS_Store
